@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none 
  } 

  .song-card {
    @apply w-32 h-36 md:w-44 md:h-52 cursor-pointer
  } 
  
  .button {
    @apply p-4 rounded-3xl text-center
  }

  .button-contained-primary {
    @apply button bg-white-75  
  }

  .button-outlined-primary {
    @apply button bg-transparent border-b-white-75 border-[1px]
  }

}

:root {
  --background: #0D0D0D;
  --foreground: #171717;
  --font-family:  "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}
